@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/charter-webfont/charter.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Charter";
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-5xl;
}

* {
  box-sizing: border-box;
}
